<html>
<head>
  {{ map.header.render|safe }}
</head>

<body>
  <div style="padding: 2%;">
  <h1>Interactive Map</h1>
  <h3>Map on which the user can draw a bounding box to select the fishery location.</h3>
  <form method="post">
    {% csrf_token %}
    {{FishingAreaForm.as_p}}
  </form>
  <div class="row">
    <div class="col-5">
      {{map.html.render|safe}}
    </div>
    <div class="col-7">
      {% if graph %}
        {{ graph|safe }}
      {% else %}
        <p>No graph was provided.</p>
      {% endif %}
    </div>
  </div>
  
  <form method="post">
    {% csrf_token %}
    {{MapForm.as_p}}
    <h5>Draw a closed figure and click on the figure to see an alert with coordinates and then click on submit</h5>
    <!--input type="submit" name="coordinates" value="Submit" style="display: none;" /-->
    <input type="submit" value="Submit">
  </form>
  </div>
  <script>
    {{ map.script.render|safe }}
  </script>
  <br><br><br>
</body>
</html>