<html lang="en" class="material-style layout-fixed">
{% load static %}
<head>
    {{ map.header.render|safe }}
    <!-- link rel="stylesheet" href="{% static 'portal/css/bootstrap-material.css' %}" /-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .row > div {
        float: none;  /* Reset float */
    }
    .custom-col-left {
        width: 30%;  /* Your custom width */
        float: left;
    }
    .custom-col-right {
        width: 70%;  /* Your custom width */
        float: left;
    }
</style>
<body>
    <div style="padding: 2%;">
    <h1>Okholama Heat Vulnerability Map Using Decision Analysis Model</h1>
    <h3> by Cyberinfrastructure and Spatial Decision Intelligence Research Group</h3>
    <h3>Texas A&M University</h3>
    <h4>Instructions: Please input each evaluation criterion's weight and press the submit button.</h4>
    <h4>The choropleth map will be updated based on the weights you assigned using WASPAS model.</h4>
    <div class="row">
        <!-- Left column -->
        <div class="custom-col-left">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#multi-criteria-baseline" data-toggle="tab">
                        WASPAS
                    </a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="multi-criteria-baseline">
                    <p>WASPAS</p>
                        <form method="post">
                            {% csrf_token %}
                            {{weightForm.as_p}}
                            <input type="submit" value="Submit" name="WeightSubmit">
                        </form>
                </div>
            </div>
        </div>

        <!-- Right column -->
        <div class="custom-col-right">
            {{map.html.render|safe}}
        </div>
    </div>
    <script>
        {{ map.script.render|safe }}
    </script>
    <br><br><br>
</body>
</html>
