<!-- [ Layout footer ] Start -->
<!-- <nav class="layout-footer footer bg-white"> -->
    <!-- <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3"> -->
        <!-- <div class="pt-3">
            <img src="/static/portal/img/catcch/catcch_logo_dark.png" style="width: 35px; padding-inline-end: 10px;" />
            <span class="footer-text font-weight-semibold">CATCCH</span>
        </div> -->
        <!-- <div> -->
            <!-- <a href="javascript:" class="footer-link pt-3">About Us</a>
            <a href="javascript:" class="footer-link pt-3 ml-4">Help</a>
            <a href="javascript:" class="footer-link pt-3 ml-4">Contact</a>
            <a href="javascript:" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a> -->
            <!-- <a href="javascript:" class="footer-link pt-3 ml-4">Ⓒ Copy Rights Reserved</a> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </nav> -->
<!-- [ Layout footer ] End -->

<footer class="page-footer font-small">
    <!-- Copyrights -->
    <div class="bg-light py-4">
        <div class="container text-center">
            <div class="pt-3">
                <img src="/static/portal/img/catcch/catcch_text_logo_blue.png" style="width: 150px; padding-inline-end: 10px;" />
                <!-- <span class="footer-text font-weight-semibold">CATCCH</span> -->
            </div>
            <p class="text-muted mb-0 py-2">© 2022 CATCCH All rights reserved.</p>
        </div>
    </div>
</footer>